@using EMS.Web.ViewModels.Employees;
@model EmployeesListViewModel

@{
    this.ViewData["Title"] = "All Employees";
}

<h2 class="text-center">@this.ViewData["Title"]</h2>

@if (Model.Employees.Any())
{
    <partial name="_SortingPartial" />
    <partial name="_EmployeesListPartial" model="@Model" />
    if (Model.PagesCount > 1)
    {
        <partial name="_PagingPartial" model="@Model" />
    }
}

@section Scripts{
    <script src="~/js/disableCurrentSortLink.min.js" asp-append-version="true"></script>
}