@using EMS.Web.ViewModels.Employees;
@model EmployeesListViewModel

@{
    this.ViewData["Title"] = $"All employees with names containing \"{ this.ViewData["name"]}\"";
}

@if (this.ViewData["invalidName"] != null)
{
    <h2 class="text-center">There are no employees with blank names</h2>
}
else if (Model.Employees.Any())
{
    <partial name="_EmployeesListPartial" model="@Model" />
} 
else 
{
    <h2 class="text-center">No employees with names containing "@this.ViewData["name"]"</h2>
}