@using EMS.Web.ViewModels.Employees;
@model CreateEmployeeInputModel

@{
    this.ViewData["Title"] = "Add new Employee";
}

<h2 class="text-center">@this.ViewData["Title"]</h2>
<form method="post" class="col-md-12 col-12 mx-auto" enctype="application/x-www-form-urlencoded">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DateOfBirth" class="form-label"></label>
        <input id="datepicker" name="DateOfBirth" class="form-control" required />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="MonthlySalary" class="form-label"></label>
        <input asp-for="MonthlySalary" class="form-control" />
        <span asp-validation-for="MonthlySalary" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="submit" value="Add Employee" class="btn btn-primary" />
    </div>
</form>

<script>
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap5'
    });
</script>
